<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FBN application test suite">

	<listeners>
		<listener class-name="com.crm.qa.extentreportlistner.ExtentReportListener" />
		
		<listener class-name="com.crm.qa.analyzer.RetryRunner" />
	</listeners>

	<test name="FBN application test suite test">
		<parameter name="browser" value="chrome" />
		<classes>	
			
			<class name="com.crm.qa.testcases.LoginPageTestCases" />
			
			<!-- <class name="com.crm.qa.testcases.ManagerPageTestCases" />
			<class name="com.crm.qa.testcases.AddAccountPageTestCases" /> -->
			
			
		</classes>

	</test>

</suite>
